body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #17e9f8, #3762f1);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    width: 522px !important;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    padding: 20px;
    padding-right: 40px;
}

.form-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 60px;
    resize: none;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.rating label {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}

.rating input {
    display: none;
}

.rating input:checked ~ label {
    color: gold;
}

.rating input:hover ~ label,
.rating input:hover ~ label ~ label {
    color: gold;
}

.scale {
    display: flex;
    justify-content: space-around;
}

.scale label {
    font-size: 18px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}